.search{
    width: 268px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: hsl(0, 0%, 94%);
    padding: 0 16px;
    position: relative;
    &__img{
        display: block;
        width: 16px;
        height: 16px;
        margin-bottom: 3px;
    }
    &__input{
        background-color: transparent;
        border: none;
        font-size: 16px;
        outline: none;
        margin-left: 10px;
        &::placeholder{
            font-size: 16px;
            font-weight: 300;
        }
    }
    &-list{
        position: absolute;
        top: calc(100% + 13px);
        left: -30px;
        background-color: #fff;
        width: 320px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 5px 1px;
    }
}